form {
    margin: 2rem;
    padding-top: 2rem;   
}
form button {
    background-color: rgb(122, 0, 122);
    border-radius: 1.5rem;
    border: none;
    color: rgb(255, 206, 255);
    padding: 0.5rem;
    width: 15rem;
}
form button:hover {
    background-color: rgb(255, 206, 255);
    color: rgb(122, 0, 122);
}
input, textarea, select {
    border-radius: 1.5rem;
    border: 1px solid black;
    display: block;
    font-family: sans-serif;
    margin: 0.5rem 0;
    padding: 0.25rem;
    width: 15rem;
    /* resize: none; */
}
input {
    height: 1.5rem;
}
input[type="checkbox"] , input[type="radio"] {
    width: 1.5rem;
}
.field-conditions {
    display: flex;
    align-items: center;
}
.field-gender {
    display: flex;
    align-items: center;
}
fieldset {
    width: 15rem;
}