@font-face {
    font-family: "varsity";
    src: url(./font/varsity_regular.ttf);
    /* font-weight: 900; */
}

/* @font-face {
    font-family: "varsity";
    src: url(./font/varsity_regular.ttf);
    font-weight: 300;
} */