@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');


*{
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
}
html {
    font-size: 16px;
}
body{
    margin: 0;
    margin-top: 4.9rem;
}
section {
    padding: 1rem 5%
}
h1 {
    font-family: "varsity" , cursive ; 
    margin 0;
    font-weight: 900;
    font-size: 2rem;
}
h2 {
    font-weight: 700;
}
p , a , li {
    font-weight: 400;
}
p , li {
    font-size: 14px;
}
a {
    font-size: 1.4rem;
    text-decoration: none;
}

/* Helpers */

.d-flex {
    display: flex;
}
.float-right {
    float: right;
}
.height-200 {
    height: 200px !important;
}
.ml-1 {
    margin-left: 16px;
}